* {
    background-color: rgb(125, 125, 240);
    font-family: 'Inconsolata', monospace;
    font-size: 1.125rem;
}

.display {
    background-color: white;
    width: 23rem;
    font-size: 3rem;
}

input { 
    text-align: right; 
}

.btn {
    padding: 1.5rem;
    margin: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn00 {
    margin-left: 0;
}

@media (max-width: 992px){
    * {
        font-size: 0.75rem;
    }

    .display {
        width: 16.72813rem;
        font-size: 1.33rem;
    }

    .btn {
        padding: 1rem;
        margin: 0.33rem;
        padding-left: 1.33rem;
        padding-right: 1.33rem;
    }

    .btn00 {
        margin-left: 0;
    }
  }